body {
    background-image: url("../images/football-background.jpg");
}

.jumbotron {
    background-color:white;
    margin-top: 50px;
    border: 20px double black;
}

h2, button {
    font-family: 'Bowlby One SC', cursive;
}

button {
    height: 80px;
    width: 300px;
}

p {
    font-weight: bold;
}